.m-2 {
    margin: 0.5rem
}
.rounded {
    border-radius: 0.25rem
}
.bg-blue-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(59 130 246 / var(--tw-bg-opacity))
}
.p-2 {
    padding: 0.5rem
}
.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}    
    